# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual environments
# =========================
venv/
env/
.vscode/
.v314/
v314/

# =========================
# Pyenv
# =========================
.python-version

# =========================
# SQLite database
# =========================
*.db
*.sqlite3

# =========================
# Storage uploads
# =========================
storage/*
!storage/.keep

# =========================
# Alembic cache
# =========================
alembic/__pycache__/

# =========================
# Logs
# =========================
*.log

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Environment variables
# =========================
.env

# =========================
# IDE files
# =========================
.idea/
.vscode/